---
title: {{title}}
---

Every GraphQL schema has a root type for both queries and mutations. The [query type](https://facebook.github.io/graphql/draft/#sec-Type-System) defines GraphQL operations that retrieve data from the server.

For more information, see "[About queries](guides/graphql/using.md#about-queries)".

{{>_documents}}
