---
title: Input objects
---

[Input objects](https://facebook.github.io/graphql/draft/#sec-Input-Objects) can be described as "composable objects" because they include a set of input fields that define the object.

For more information, see "[About mutations](guides/graphql/using.md#about-mutations)".

## List of input objects

{{#types.inputObjects}}
* [{{{text}}}]({{{href}}})
{{/types.inputObjects}}
