---
title: Objects
---

[Objects](https://facebook.github.io/graphql/draft/#sec-Objects) in GraphQL represent the resources you can access. An object can contain a list of fields, which are specifically typed.

For more information, see "[Introduction to GraphQL](guides/graphql/introduction.md)".

{{#objects}}
{{#items}}
* [{{{text}}}]({{{href}}})
{{/items}}
{{/objects}}
